body {
    background-color: #c0c0c0;
}

#navBar {
    bottom: 0;
    color: #d4af37;
    text-align: center;
    line-height: 4em;
}

#mainPageImage {
    margin-top: 150px;
}
#profilePanel{
  margin-top: 150px;
}
